@charset "UTF-8";

body {
    max-width: 1440px;
    max-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
}

.product-card {
    background-color: hsl(0, 0%, 100%);
    margin: 5rem 0 5rem 0;
    width: 560px;
    height: 400px;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 20px hsla(228, 12%, 48%, 0.200);
}

.product-card .image-container {
    background-image: url("C:/workspace/frontend-mentor/preview-card/assets/images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.description-container {
    max-width: 50%;
    display: flex;
}

.card-content {
    margin: 28px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(228, 12%, 48%);
}

.card-content h2 {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 4px;
}

.card-content .product-name {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
}

.card-content .product-description {
    font-size: 14px;
    line-height: 1.5em;
}

.prices {
    display: flex;
    gap: 20px;
    align-items: center;
}

.prices .current-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
}

.prices .old-price {
    text-decoration: line-through;
    font-size: 14px;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    font-size: 14px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    gap: 10px;
    height: 45px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.cart-btn:hover {
    background-color: hsl(156, 42%, 18%);
}